@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-top: 2px solid white;
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite;
  z-index: 20;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-app {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-top: 2px solid #6366f1;
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite;
  z-index: 20;
}

.signupselect {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>')
    no-repeat;
  width: 25px;
  height: 25px;
  background-size: contain;
}
